#tela {
    border: 1px solid #000;
    background-color: rgb(233, 233, 233);
    width: 230px;
    height: 30px;
    padding: 10px;
    font-size: 28px;
    overflow: hidden;
}

#calculadora {
    margin: 5px;
    position: absolute;
    border: 1px solid #000;
    width: 255px;
    padding: 10px;
    background-color: #ccc;
}

#botoes {
    grid: 30px;
}



button {
    width: 60px;
    height: 60px;
    margin-top: 5px;
}

#gitHub {
    margin-top: 345px;
    margin-left: 40px;
    width: 200px;
    height: 20px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: center;
    font-family: arial;
    font-size: 12px;
    position: absolute;
    font-weight: bold;
}
